# misc
.DS_Store

# build output
.astro
dist

# development environment
.vscode
.nvmrc
.prettierrc

# version control
.git
.gitignore
.github
.gitlab

# dependencies
node_modules

# docker
docker

# documentation
README.md