@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-dim: #10b981;
        --primary-accent: #34d399;
        --primary-bright: #2dd4bf;
    }

    html,
    body {
        @apply bg-white dark:bg-zinc-950 text-black dark:text-white;
    }
}

@layer components {
    .link {
        @apply text-zinc-500 transition hover:text-primary-accent p-3;
    }

    .text-primary-gradient {
        @apply bg-gradient-to-br from-primary-dim to-primary-bright bg-clip-text text-transparent;
    }

    .bg-gradient-primary {
        @apply bg-gradient-to-br from-primary-dim to-primary-bright;
    }

    .bg-gradient-accent {
        @apply bg-gradient-to-t from-emerald-900/20 to-[rgba(225,225,225,0)];
    }

    .glow {
        box-shadow: 0 0 100px 10px var(--primary-bright);
    }

    .card {
        @apply bg-zinc-900 p-5 h-72 rounded-3xl overflow-hidden flex flex-col justify-between;
    }

    .featured {
        @apply bg-gradient-primary text-zinc-950;
    }

    #content h3 {
        @apply mt-10 mb-2 text-2xl font-bold tracking-tight;
    }

    #content p {
        @apply text-lg text-zinc-300;
    }

    #content a {
        @apply text-primary-accent underline;
    }
}

@layer utilities {
    .glow-gradient {
        background: radial-gradient(
            ellipse 80% 50% at 50% -20%,
            rgba(0, 255, 153, 0.15),
            transparent
        );
    }
}
