---
import BlogCard from "@components/BlogCard.astro";
import { getCollection } from "astro:content";
import ListLayout from "@layouts/list.astro";

const unsortedBlogs = await getCollection("blogs");

const blogs = unsortedBlogs.sort(
    (a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime()
);
---

<ListLayout
    title="Anav Chand | Blog Posts"
    description="I write about web development, software engineering, and DevOps, along with personal reflections on my university life and learning experiences."
    contentType="Blogs"
>
    <header>
        <h1>{`Blog Posts (${blogs.length})`}</h1>
        <p>
            I write about web development, software engineering, and DevOps,
            along with personal reflections on my university life and learning
            experiences.
        </p>
    </header>
    <ul class="space-y-4">
        {
            blogs.map((blog) => (
                <li>
                    <BlogCard blog={blog} />
                </li>
            ))
        }
    </ul>
</ListLayout>
