---
import ExperienceDetails from "@components/ExperienceDetails.astro";
import { getCollection } from "astro:content";
import ListLayout from "@layouts/list.astro";

const unsortedExperience = await getCollection("experience");

const experience = unsortedExperience.sort(
    (a, b) => b.data.startDate.getTime() - a.data.startDate.getTime()
);
---

<ListLayout
    title="Anav Chand | Work And Volunteer"
    description="I've helped various organizations through paid and volunteer roles, picking up skills and insights while making meaningful contributions along the way."
    contentType="Experience"
>
    <header>
        <h1>Work And Volunteer</h1>
        <p>
            I've helped various organizations through paid and volunteer roles,
            picking up skills and insights while making meaningful contributions
            along the way.
        </p>
    </header>
    {
        experience.map((experience) => (
            <ExperienceDetails experience={experience} />
        ))
    }
</ListLayout>
