---
import ImageGrid from "@components/ImageGrid.astro";
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import MainLayout from "@layouts/main.astro";
import SkillCard from "@components/SkillCard.astro";
import ProjectCard from "@components/ProjectCard.astro";
import BlogCard from "@components/BlogCard.astro";
import ResearchCard from "@components/ResearchCard.astro";

const unsortedSkills = await getCollection("skills");
const skills = unsortedSkills.sort((a, b) => a.data.id - b.data.id);

const unsortedProjects = await getCollection("projects");
const projects = unsortedProjects
    .filter((a) => a.data.featured == true)
    .sort((a, b) => a.data.id - b.data.id)
    .slice(0, 3);

const unfiltereedBlgos = await getCollection("blogs");
const blogs = unfiltereedBlgos
    .sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime())
    .slice(0, 3);

const unfilderedResearch = await getCollection("research");
const research = unfilderedResearch
    .sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime())
    .slice(0, 3);
---

<MainLayout
    title="Anav Chand | Fullstack Web Dev From Fiji"
    description="Hi, I'm Anav Chand. I am a 1st year Software Engineering student at the University of the South Pacific. I am also a self-taught Full-Stack web developer."
>
    <!-- HERO SECTION -->

    <article class="my-12 space-y-2">
        <Header content="Hi, I'm Anav" />
        <p>
            I am a 1st year Software Engineering student at the
            <a href="https://www.usp.ac.fj/" target="_blank">
                University of the South Pacific</a
            >
            who might be a little <em>too</em> passionate about web development.
        </p>
    </article>
    <ImageGrid />

    <!-- SKILLS SECTION -->

    <h2 id="skills">My Skills</h2>

    {skills.map((skill) => <SkillCard skill={skill} />)}

    <!-- PROJECTS SECTION -->

    <h2 id="projects">Top Projects</h2>

    {projects.map((project) => <ProjectCard project={project} />)}

    <div>
        <a href="/projects">View all projects</a>
    </div>

    <!-- BLOGS SECTION -->

    <h2 id="blogs">Latest Blogs</h2>

    {blogs.map((blog) => <BlogCard blog={blog} />)}

    <div>
        <a href="/blogs">View all blogs</a>
    </div>

    <!-- RESEARCH SECTION -->

    <h2 id="research">Featured Research</h2>

    {research.map((research) => <ResearchCard research={research} />)}

    <div>
        <a href="/research">View all research</a>
    </div>
</MainLayout>
