---
import ExperienceCard from "@components/ExperienceCard.astro";
import ProjectCard from "@components/ProjectCard.astro";
import ImageGrid from "@components/ImageGrid.astro";
import SkillCard from "@components/SkillCard.astro";
import BlogCard from "@components/BlogCard.astro";
import { getCollection } from "astro:content";
import MainLayout from "@layouts/main.astro";

const unsortedExperience = await getCollection("experience");
const experience = unsortedExperience
    .sort((a, b) => b.data.startDate.getTime() - a.data.startDate.getTime())
    .slice(0, 3);

const unsortedSkills = await getCollection("skills");
const skills = unsortedSkills
    .sort((a, b) => a.data.id - b.data.id)
    .splice(0, 6);

const unsortedProjects = await getCollection("projects");
const projects = unsortedProjects
    .filter((a) => a.data.featured == true)
    .sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime())
    .slice(0, 3);

const unfilteredBlogs = await getCollection("blogs");
const blogs = unfilteredBlogs
    .sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime())
    .slice(0, 3);
---

<MainLayout
    title="Anav Chand | Web Developer & Software Engineering Student From Fiji"
    description="Hi, I'm Anav Chand. I am an aspiring DevOps engineer, self-taught web developer, second-year software engineering student, and award-winning peer mentor @ USP."
>
    <header class="hero">
        <h1>Hi, I'm Anav Chand</h1>
        <p>
            I'm a DevOps-focused software engineering student exploring AI
            systems, cloud infra, and automation, with a track record of
            technical leadership.
        </p>
    </header>

    <ImageGrid />

    <section class="space-y-4">
        <h2>Top Projects</h2>
        <ul class="space-y-4">
            {
                projects.map((project) => (
                    <li>
                        <ProjectCard project={project} />
                    </li>
                ))
            }
        </ul>
    </section>

    <section class="space-y-4">
        <h2>My Skills</h2>
        <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
                skills.map((skill) => (
                    <li>
                        <SkillCard skill={skill} />
                    </li>
                ))
            }
        </ul>
    </section>

    <section class="space-y-4">
        <h2>Recent Experience</h2>
        <ul class="space-y-4">
            {
                experience.map((exp) => (
                    <li>
                        {" "}
                        <ExperienceCard experience={exp} />
                    </li>
                ))
            }
        </ul>
    </section>

    <section class="space-y-4">
        <h2>Latest Blogs</h2>
        <ul class="space-y-4">
            {
                blogs.map((blog) => (
                    <li>
                        <BlogCard blog={blog} />
                    </li>
                ))
            }
        </ul>
    </section>
</MainLayout>
