---
import ExperienceCard from "@components/ExperienceCard.astro";
import ProjectCard from "@components/ProjectCard.astro";
import ImageGrid from "@components/ImageGrid.astro";
import SkillCard from "@components/SkillCard.astro";
import BlogCard from "@components/BlogCard.astro";
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import MainLayout from "@layouts/main.astro";

const unsortedExperience = await getCollection("experience");
const experience = unsortedExperience
    .sort((a, b) => b.data.startDate.getTime() - a.data.endDate.getTime())
    .slice(0, 3);

const unsortedSkills = await getCollection("skills");
const skills = unsortedSkills
    .sort((a, b) => a.data.id - b.data.id)
    .splice(0, 6);

const unsortedProjects = await getCollection("projects");
const projects = unsortedProjects
    .filter((a) => a.data.featured == true)
    .sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime())
    .slice(0, 3);

const unfilteredBlogs = await getCollection("blogs");
const blogs = unfilteredBlogs
    .sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime())
    .slice(0, 3);
---

<MainLayout
    title="Anav Chand | Web Developer & Software Engineering Student From Fiji"
    description="Hi, I'm Anav Chand. I am an aspiring DevOps engineer, self-taught web developer, second-year software engineering student, and award-winning peer mentor @ USP."
>
    <!-- HERO SECTION -->

    <article class="my-12 space-y-2">
        <Header content="Hi, I'm Anav Chand" />
        <p>
            I am an aspiring DevOps engineer, self-taught web developer,
            second-year software engineering student, and award-winning peer
            mentor @ <a href="https://usp.ac.fj" target="_blank">USP</a>.
        </p>
    </article>

    <ImageGrid />

    <!-- PROJECTS SECTION -->

    <h2>Top Projects</h2>

    {projects.map((project) => <ProjectCard project={project} />)}

    <!-- SKILLS SECTION -->

    <h2>My Skills</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {skills.map((skill) => <SkillCard skill={skill} />)}
    </div>

    <!-- EXPERIENCE SECTION -->

    <h2>Recent Experience</h2>

    {experience.map((exp) => <ExperienceCard experience={exp} />)}

    <!-- BLOGS SECTION -->

    <h2>Latest Blogs</h2>

    {blogs.map((blog) => <BlogCard blog={blog} />)}
</MainLayout>
