---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import { formatDate } from "@lib/format-date";
import ListLayout from "@layouts/list.astro";

const unsortedProjects = await getCollection("projects");
const projects = unsortedProjects.sort((a, b) => a.data.id - b.data.id);
---

<ListLayout
    title="Anav Chand - Projects"
    description="A collection of full stack web development projects, built with modern technologies like React, Next.js, and TypeScript."
    contentType="Projects"
>
    <article class="my-12">
        <Header content={`Projects (${projects.length})`} />
    </article>
    {
        projects.map((project) => (
            <div class="space-y-1">
                <p>
                    <a href={"projects/" + project.slug}>
                        <b>{project.data.title}</b>
                    </a>
                    {" - "}
                    {project.data.description}
                </p>
                <p>{formatDate(project.data.createdAt)}</p>
            </div>
        ))
    }
</ListLayout>
