---
import ProjectCard from "@components/ProjectCard.astro";
import { getCollection } from "astro:content";
import ListLayout from "@layouts/list.astro";

const unsortedProjects = await getCollection("projects");

const projects = unsortedProjects.sort(
    (a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime()
);
---

<ListLayout
    title="Anav Chand | Personal Projects"
    description="I enjoy building full-stack web applications that combine my skills in fullstack web development, database design, cloud and DevOps."
    contentType="Projects"
>
    <header>
        <h1>{`Personal Projects (${projects.length})`}</h1>
        <p>
            I enjoy building full-stack web applications that combine my skills
            in fullstack web development, database design, cloud and DevOps.
        </p>
    </header>
    <ul class="space-y-4">
        {
            projects.map((project) => (
                <li>
                    <ProjectCard project={project} />
                </li>
            ))
        }
    </ul>
</ListLayout>
