---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import { formatDate } from "@lib/format-date";
import ListLayout from "@layouts/list.astro";

const unfilteredResearch = await getCollection("research");
const reserearch = unfilteredResearch.sort(
    (a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime()
);
---

<ListLayout
    title="Anav Chand - Research"
    description="A collection of research papers, manily based on software engineering and computer science."
    contentType="Research"
>
    <article class="my-12">
        <Header content={`Research (${reserearch.length})`} />
    </article>
    {
        reserearch.map((research) => (
            <div class="space-y-1">
                <a href={"research/" + research.slug} class="font-semibold">
                    {research.data.title}
                </a>
                <p class="faded">{formatDate(research.data.createdAt)}</p>
            </div>
        ))
    }
</ListLayout>
