---
import type { CollectionEntry } from "astro:content";
import { long } from "@utils/getDate";

interface Props {
    blog: CollectionEntry<"blogs">;
}

const { blog } = Astro.props;
---

<a class="card" href={"/blogs/" + blog.slug}>
    <p>{blog.data.title}</p>
    <p class="faded">{long(blog.data.createdAt)}</p>
</a>
