---
import { long } from "@utils/getDate";

interface Props {
    title: string;
    date: Date;
}

const { title, date } = Astro.props;
---

<header>
    <h1>{title}</h1>
    <p>
        Published on <time datetime={date.toISOString()}>{long(date)}</time>
    </p>
</header>
