---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "@lib/format-date";

interface Props {
    blog: CollectionEntry<"blogs">;
}

const { blog } = Astro.props;
---

<div class="space-y-1">
    <a href={"blogs/" + blog.slug}>
        <b>{blog.data.title}</b>
    </a>
    <p class="faded">{formatDate(blog.data.createdAt)}</p>
</div>
