---
import type { CollectionEntry } from "astro:content";
import { long } from "@utils/getDate";

interface Props {
    blog: CollectionEntry<"blogs">;
}

const { blog } = Astro.props;
---

<article>
    <a class="card" href={"/blogs/" + blog.slug}>
        <h4>{blog.data.title}</h4>
        <p class="faded">
            <time datetime={blog.data.createdAt.toISOString()}>
                {long(blog.data.createdAt)}
            </time>
        </p>
    </a>
</article>
