---
import type { CollectionEntry } from "astro:content";

interface Props {
    cert: CollectionEntry<"certs">;
}

const { cert } = Astro.props;
---

<a class="card" href={cert.data.url} target="_blank">
    <p>{cert.data.title}</p>
    <p class="faded">Issued by {cert.data.organization}</p>
</a>
