---
import type { CollectionEntry } from "astro:content";

interface Props {
    cert: CollectionEntry<"certs">;
}

const { cert } = Astro.props;
---

<a
    class="group p-2 border border-zinc-200 rounded-lg flex flex-col no-underline hover:no-underline"
    href={cert.data.url}
    target="_blank"
>
    <p class="line-clamp-2">
        <b class="group-hover:underline">{cert.data.title}</b>
    </p>
    <p class="faded">
    Issued by {(cert.data.organization)}     </p>
</a>
