---
import type { CollectionEntry } from "astro:content";

interface Props {
    cert: CollectionEntry<"certs">;
}

const { cert } = Astro.props;
---

<article>
    <a class="card" href={cert.data.url} target="_blank">
        <h4>{cert.data.title}</h4>
        <p class="faded">Issued by {cert.data.organization}</p>
    </a>
</article>
