---
import type { CollectionEntry } from "astro:content";

interface Props {
    experience: CollectionEntry<"experience">;
}

const { experience } = Astro.props;
---

<a class="card" href={"/experience#" + experience.slug}>
    <p>{experience.data.longTitle}</p>
    <p class="faded">{experience.data.type} @ {experience.data.company}</p>
</a>
