---
import type { CollectionEntry } from "astro:content";

interface Props {
    experience: CollectionEntry<"experience">;
}

const { experience } = Astro.props;
---

<article>
    <a class="card" href={"/experience#" + experience.slug}>
        <h4>{experience.data.longTitle}</h4>
        <p class="faded">{experience.data.type} @ {experience.data.company}</p>
    </a>
</article>
