---
const { mainContent, fadedContent } = Astro.props;
---

<h1
  class="text-3xl md:text-4xl lg:text-5xl font-black tracking-normal leading-none first-of-type:mt-0 mt-20 mb-5"
>
  {mainContent}
  <span class="faded">{fadedContent}</span>
</h1>
