---
import { Image } from "astro:assets";
---

<section class="grid grid-cols-3 grid-rows-3 gap-5">
  <Image
    src="/short1.jpg"
    alt="img"
    width={200}
    height={200}
    class="hero-image h-40"
  />
  <Image
    src="/anav.webp"
    alt="img"
    width={200}
    height={200}
    class="hero-image row-span-2"
  />
  <Image
    src="/short2.jpg"
    alt="img"
    width={200}
    height={200}
    class="hero-image h-40"
  />
  <Image
    src="/tall1.jpg"
    alt="img"
    width={200}
    height={200}
    class="hero-image row-span-2"
  />
  <Image
    src="/tall3.jpg"
    alt="img"
    width={200}
    height={200}
    class="hero-image row-span-2"
  />
  <Image
    src="/short3.jpg"
    alt="img"
    width={200}
    height={200}
    class="hero-image h-40"
  />
</section>
