---
import { Image } from "astro:assets";
---

<section class="mt-10 grid grid-cols-2 md:grid-cols-3 grid-rows-3 gap-5">
  <Image
    src="/images/short1.jpg"
    alt="img"
    width={200}
    height={200}
    loading="eager"
    class="hero-image hidden md:block md:h-40"
  />
  <Image
    src="/images/anav.webp"
    alt="img"
    width={200}
    height={200}
    loading="eager"
    class="hero-image row-span-2"
  />
  <Image
    src="/images/short2.jpg"
    alt="img"
    width={200}
    height={200}
    loading="eager"
    class="hero-image md:h-40"
  />
  <Image
    src="/images/tall1.jpg"
    alt="img"
    width={200}
    height={200}
    loading="eager"
    class="hero-image row-span-2"
  />
  <Image
    src="/images/tall3.jpg"
    alt="img"
    width={200}
    height={200}
    loading="eager"
    class="hero-image hidden md:block md:row-span-2"
  />
  <Image
    src="/images/short3.jpg"
    alt="img"
    width={200}
    height={200}
    loading="eager"
    class="hero-image md:h-40"
  />
</section>
