---
import LogoImage from "@images/logo.webp"
import { Image } from "astro:assets"
---

<a data-umami-event="link-home" href="/" class="h-8 w-8 rounded-lg md:rounded-full">
    <Image loading="eager" class="rounded-lg md:rounded-full" src={LogoImage} alt="Anav Chand" />
</a>
