---
import { ArrowUpRight } from "@geist-ui/icons";
---

<nav class="fixed w-screen bg-[#fdf8ed]">
  <div
    class="[&>p>a]:no-underline flex items-center justify-between py-3 w-11/12 md:w-3/4 lg:w-1/2 mx-auto"
  >
    <p>
      <a href="/#anav">Anav</a>
    </p>
    <p>
      <a href="/#skills">Skills</a>
    </p>
    <p>
      <a href="/#projects">Projects</a>
    </p>
    <p>
      <a href="/#research">Research</a>
    </p>
    <p>
      <a href="/#blogs">Blogs</a>
    </p>
    <p class="flex items-center gap-1">
      <a target="_blank" href="https://github.com/anav5704">GitHub</a>
      <ArrowUpRight size={20} />
    </p>
  </div>
</nav>
