<nav class="fixed w-full mb-20 mt-10">
  <ul
    class="bg-zinc-300/50 rounded-full backdrop-blur-sm flex items-center justify-around p-3 w-11/12 md:w-3/4 lg:w-1/2 mx-auto"
  >
    <li>
      <a href="/">About</a>
    </li>
    <li>
      <a href="#skills">Skills</a>
    </li>
    <li>
      <a href="#projects">Projects</a>
    </li>
    <li>
      <a href="#blogs">Blogs</a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/anav5704">GitHub</a>
    </li>
  </ul>
</nav>
