---
import type { CollectionEntry } from "astro:content";

interface Props {
    project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<article>
    <a class="card" href={"/projects/" + project.slug}>
        <h4>{project.data.title}</h4>
        <p class="faded no-underline">{project.data.description}</p>
    </a>
</article>
