---
interface Props {
    title: string;
    repo: string;
    site: string;
}

const { title, repo, site } = Astro.props;
---

<header>
    <h1>{title}</h1>
    <p class="flex items-center gap-5">
        <a target="_blank" href={repo} class="flex items-center gap-1">
            Source Code
        </a>
        <a target="_blank" href={site} class="flex items-center gap-1">
            Live Preview
        </a>
    </p>
</header>
