---
import type { CollectionEntry } from "astro:content";
import { longDate } from "@lib/format-date";

interface Props {
    research: CollectionEntry<"research">;
}

const { research } = Astro.props;
---

<a
    href={"research/" + research.slug}
    class="group p-2 border border-zinc-200 rounded-lg flex flex-col no-underline hover:no-underline"
>
    <p class="line-clamp-1">
        <b class="group-hover:underline">{research.data.title}</b>
    </p>
    <p class="faded">{longDate(research.data.createdAt)}</p>
</a>
