---
import type { CollectionEntry } from "astro:content";

interface Props {
    skill: CollectionEntry<"skills">;
}

const { skill } = Astro.props;

let examples = "";

skill.data.examples.forEach((example, index) => {
    index == 0 ? (examples += example) : (examples += ", " + example);
});
---

<div class="col-span-1 card">
    <p>{examples}</p>
    <p class="faded">{skill.data.title}</p>
</div>
