---
import type { CollectionEntry } from "astro:content";

interface Props {
    skill: CollectionEntry<"skills">;
}

const { skill } = Astro.props;
---

<div
    class="col-span-1 group p-2 border border-zinc-200 rounded-lg flex flex-col no-underline hover:no-underline"
>
    <b>{skill.data.title}</b>
    <div class="faded">
        {
            skill.data.examples.map((example, index) => (
                <span>
                    {skill.data.examples[index + 1]
                        ? `${example}, `
                        : `${example}`}
                </span>
            ))
        }
    </div>
</div>
