---
import type { MarkdownHeading } from "astro";
const { headings } = Astro.props;
---

<nav>
    <details class="border border-zinc-200 rounded-lg space-y-1 cursor-pointer">
        <summary class="px-4 py-2">Table of Contents</summary>
        <ul class="px-4 py-2 space-y-2 !m-0 border-t border-zinc-200">
            {
                headings.map((heading: MarkdownHeading) => (
                    <li>
                        <a
                            class={`${heading.depth == 3 && "pl-8"} text-[#444444] no-underline`}
                            href={"#" + heading.slug}
                        >
                            {heading.text}
                        </a>
                    </li>
                ))
            }
        </ul>
    </details>
</nav>
