---
interface Props {
  title: string;
  description: string;
}

import SpeedInsights from "@vercel/speed-insights/astro";
const { title, description }: Props = Astro.props;
import NavBar from "@components/NavBar.astro";

import "../../src/global.css";
---

<html lang="en">
  <head>
    <SpeedInsights />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <main class="pt-28 pb-20 w-11/12 md:w-3/4 lg:w-1/2 mx-auto">
      <slot />
    </main>
  </body>
</html>
