---
const { title, description } = Astro.props;
import "../../src/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class="py-20">
    <main class="w-11/12 md:w-3/4 lg:w-1/2 mx-auto">
      <slot />
    </main>
  </body>
</html>
